{% extends "base.html.twig" %}

{% block subHeader %}
    {% include "user_menu.html.twig" %}
{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                {% if message is defined %}
                    <div style="color: green; font-size: 30px; text-align: center; padding-bottom: 20px">
                        {{ message }}
                    </div>
                {% endif %}
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Name</th>
                            <th class="column1">Surname</th>
                            <th class="column1">Email</th>
                            <th class="column1">Country</th>
                            <th class="column1">Gender</th>
                            <th class="column1">Birth Date</th>
                            <th class="column2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td onclick="location.href='{{ url('admin_select', {'id':user.id}) }}'" class="column1">{{ user.name }}</td>
                                <td onclick="location.href='{{ url('admin_select', {'id':user.id}) }}'" class="column1">{{ user.surname }}</td>
                                <td onclick="location.href='{{ url('admin_select', {'id':user.id}) }}'" class="column1">{{ user.email }}</td>
                                <td onclick="location.href='{{ url('admin_select', {'id':user.id}) }}'" class="column1">{{ user.country }}</td>
                                <td onclick="location.href='{{ url('admin_select', {'id':user.id}) }}'" class="column1">{{ user.gender }}</td>
                                <td onclick="location.href='{{ url('admin_select', {'id':user.id}) }}'" class="column1">{{ user.birthDate }}</td>
                                <td class="column2">
                                    <form method="post" action="{{ url("admin_delete") }}">
                                    <input type="hidden" name="id" value="{{ user.id }}">
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if users is empty %}
                        <div style="text-align: center; font-size: 20px; color: black; background-color: white; border-radius: 5px;">
                            There is no user registered
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}